node_modules
.turbo
dist
build
coverage
.DS_Store
storybook-static
.env
.env.local
.env.*
!.env.example
.npmrc
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnpm-store
.cache
.idea
.vscode
.vercel
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
roadmap.md
